{
    "extends": "eslint:recommended",
    "env": {
      "amd": true,
      "node": true,
      "es6": true,
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi": 2,
        "eol-last": 2,
        "eqeqeq": "error",
        "no-console": 0 }
}
